.Forget-psw{
    color: #19b087;
    cursor: pointer;
}
.register-form{
    background-color: #25333c;
    max-width: 700px;
    min-height: 300px;
    padding: 30px;
    margin: auto;
    direction: rtl;
    font-family: Vazir;
   
}
.title{
    color: #ffffff;
    text-align: center;
}
